.heading{
    text-align: center;
    padding:2.5rem 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .heading span{
    font-size: 3.5rem;
    background:rgba(255, 165, 0,.2);
    color:var(--orange);
    border-radius: 0.5rem;
    padding:0.2rem 1rem;
  }
  
  .heading span.space{
    background:none;
  }
  .packages .box_container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
  }
  
  .packages .box_container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  
  .packages .box_container .box img{
    height: 25rem;
    width:100%;
    object-fit: cover;
  }
  
  .packages .box_container .box .content{
    padding:2rem;
  }
  
  .packages .box_container .box .content h3{
    font-size:2rem;
    color:#333;
  }
  
  .packages .box_container .box .content h3 i{
    color:var(--orange);
  }
  
  .packages .box_container .box .content p{
    font-size:1.7rem;
    color:#666;
    padding:1rem 0;
  }
  
  .packages .box_container .box .content .stars i{
    font-size:1.7rem;
    color:var(--orange);
  }
  
  .packages .box_container .box .content .price{
    font-size: 2rem;
    color:#333;
    padding-top: 1rem;
  }
  
  .packages .box_container .box .content .price span{
    color:#666;
    font-size: 1.5rem;
    text-decoration: line-through;
  }
  
  .services .box_container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .services .box_container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding:1rem;
    text-align: center;
  }
  
  .services .box_container .box i{
    padding:1rem;
    font-size: 5rem;
    color:var(--orange);
  }
  
  .services .box_container .box h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .services .box_container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
  }
  
  .services .box_container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  
  .gallery .box_container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .gallery .box_container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:1rem solid #fff;
    border-radius: .5rem;
    flex:1 1 30rem;
    height: 25rem;
    position: relative;
  }
  
  .gallery .box_container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .gallery .box_container .box .content{
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
  } 
