.inputBox{
    text-align: left;
  }
input{
    width:100%;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
}
.inputBox h3{
    font-size: 2rem;
    padding:1rem 0;
    color:#666;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}