.hotelInfo {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .hotelInfo h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .hotelInfo p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .hotelInfo p:last-child {
    margin-bottom: 0;
  }
  
  .hotelInfo p span {
    font-weight: bold;
  }
  
  /* Пример стилей для изображений отеля */
  .hotelInfo img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }